* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html, body {
  height: 100%;
}

body {
  /* Flexbox */
  display: flex;
  flex-direction: column;

  font-family: 'Akaya Telivigala', sans-serif;
  font: 'Akaya Telivigala';
  background-color: #CCC;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: 'Abril Fatface', sans-serif;
}

h1 {
  font-size: 2.5em;
  padding: 0.75em;
}

h2, h3 {
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

.page {
  /* Flexbox */
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #EEE;
}

.bar-menu {
  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  /* Style */
  background-color: #333;
}

.nav-menu {
  /* Flexbox */
  justify-content: center;

  /* Stick it to the top */
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
}

.contact-menu {
  flex-shrink: 0;
}

.bar-menu li {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.bar-menu li a, .bar-menu li p {
  /* Positioning */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  /* Style */
  color: #EEE;
  border: 1px solid #444;
  font-size: 1.1em;
  padding: 0.75em 0;
  text-decoration: none;

  /* Make them unselectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.bar-menu li a:hover {
  /* Style */
  background-color: #222;
}

.bar-menu li a:active {
  /* Style */
  background-color: #111;
}

.active {
  /* Style */
  background-color: #003399;
}

.bar-menu li .active:hover {
  /* Style */
  background-color: #002266;
}

.content {
  flex: 1 0 auto;
}

.synopsis {
  /* Style */
  font-style: italic;
  padding: 2em;
  padding-bottom: 1em;
}

.synopsis em {
  /* Style */
  font-style: normal;
}

/* Mobile Styles */
@media only screen and (max-width: 408px) {
  .bar-menu {
    flex-direction: column;
  }
}

/* Between Tablet and Mobile Styles */
@media only screen and (min-width: 409px) and (max-width: 677px) {
  .nav-menu li {
    flex-basis: 33.3%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 678px) and (max-width: 960px) {
  .bar-menu {
    flex-direction: row;
  }
}

@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
}
